.cursor {
  position: fixed;
  width: 8px;
  height: 8px;
  background: var(--star-core);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition:
    width 0.25s,
    height 0.25s;
  box-shadow: 0 0 8px 2px rgba(232, 240, 255, 0.8);
}
.cursor-ring {
  position: fixed;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(168, 196, 255, 0.4);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  transform: translate(-50%, -50%);
}

#starCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.nebula-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  background:
    radial-gradient(
      ellipse at 15% 25%,
      rgba(88, 50, 180, 0.18) 0%,
      transparent 55%
    ),
    radial-gradient(
      ellipse at 85% 15%,
      rgba(30, 80, 200, 0.15) 0%,
      transparent 50%
    ),
    radial-gradient(
      ellipse at 60% 70%,
      rgba(100, 40, 160, 0.12) 0%,
      transparent 45%
    ),
    radial-gradient(
      ellipse at 30% 80%,
      rgba(20, 50, 150, 0.1) 0%,
      transparent 40%
    ),
    linear-gradient(135deg, #04050f 0%, #080b1a 40%, #0a0818 70%, #04050f 100%);
}

.reveal {
  opacity: 1; /* Seharusnya 0 , ada bug*/
  transform: translateY(8px);
  transition:
    opacity 0.9s cubic-bezier(0.23, 1, 0.32, 1),
    transform 0.9s cubic-bezier(0.23, 1, 0.32, 1);
}
.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
